{% extends "base.html" %}

{% block content %}
  <h1>{{ task.name }}
    <a href="{% url 'tasks:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    <a href="{% url 'tasks:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </h1>
  {% if task.is_overdue %}
    <span class="text-danger">Overdue</span>
  {% endif %}
  <p class="text-dark"><b>Description: </b>{{ task.description }}</p>
  <p class="text-dark"><b>Deadline: </b>{{ task.deadline }}</p>
  <p class="text-dark"><b>Project: </b>{{ task.project }}</p>
  <p class="text-dark"><b>Is completed: </b>{{ task.is_completed }}</p>
  <p class="text-dark"><b>Priority: </b>{{ task.priority }}</p>
  <p class="text-dark"><b>Assignees:</b></p>
  <ul>
    {% for assignee in task.assignees.all %}
      <hr>
      <li><a href="{% url 'tasks:worker-detail' pk=assignee.id %}">{{ assignee.username }}: {{ assignee.first_name }} {{ assignee.last_name }}</a></li>
    {% empty %}
      <p class="text-dark">There are no assignees still.</p>
    {% endfor %}
  </ul>
   <p class="text-dark"><b>Tags:</b></p>
  <ul>
    {% for tag in task.tags.all %}
      <hr>
      <li><a href="{% url 'tasks:tag-detail' pk=tag.id %}">{{ tag.name }}</a></li>
    {% empty %}
      <p class="text-dark">There are no tags for this task.</p>
    {% endfor %}
  </ul>
{% endblock %}
