{% extends "base.html" %}

{% block content %}
  <h1>{{ team.name }}
        <a href="{% url 'tasks:team-delete' pk=team.id %}" class="btn btn-danger link-to-page">
          Delete
        </a>
  </h1>
  <br>
    <p><strong>Team members:</strong></p>
  <ul>
    {% for worker in team.workers.all %}
      <hr>
      <li><a href="{% url 'tasks:worker-detail' pk=worker.id %}"> {{ worker.username }}: {{ worker.first_name }} {{ worker.last_name }}</a></li>
    {% empty %}
      <p>No workers in this team yet</p>
    {% endfor %}
  </ul>
  <br>
  <p><strong>Projects:</strong></p>
  <ul>
    {% for project in team.projects.all %}
      <hr>
      <li><a href="{% url 'tasks:project-detail' pk=project.id %}"> {{ project.name }}</a></li>
    {% empty %}
      <p>No projects yet</p>
    {% endfor %}
  </ul>
{% endblock %}
