{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
    <a href="{% url 'tasks:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Email:</strong> {{ worker.email }}</p>
  <p><strong>Is staff:</strong> {{ worker.is_staff }}</p>

  <div class="ml-3">
    <h4>Teams</h4>
    <ul>
      {% for team in worker.teams.all %}
        <hr>
        <li> {{ team.name }}</li>
      {% empty %}
        <p>Worker does not have any team yet.</p>
      {% endfor %}
    </ul>

    <br>

    <h4>Uncompleted tasks</h4>

    {% for task in incompleted_tasks %}
    <hr>
    <p><strong>Name:</strong> {{ task.name }}</p>
    <p><strong>Priority:</strong> {{ task.priority }}</p>
    <p><strong>Deadline:</strong> {{ task.deadline }}</p>
      {% empty %}
      <p>No incompleted tasks</p>
    {% endfor %}

    <h4>Completed tasks</h4>

    {% for task in completed_tasks %}
      <hr>
      <p><strong>Name:</strong> {{ task.name }}</p>
      <p><strong>Priority:</strong> {{ task.priority }}</p>
      <p><strong>Deadline:</strong> {{ task.deadline }}</p>

    {% empty %}
      <p>No completed tasks</p>
    {% endfor %}
  </div>
{% endblock %}
